
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing:content-box;
  }
  header{
    top:0;
    width: 100%;
    height: 80px;
    background-size: cover;
    background-position: center center;
    background-color: #003960;
    background-repeat: no-repeat;
  }
  
  nav{
    height: 90px;
    width: 100%;
  }
  .enlace{
    height: 70px;
    width: 100px;
    padding: 10px 100px;
  }

  .logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
    .logo{
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 700;
    margin-left: 50PX;
    margin-top: 20PX;
}
  nav ul{
    float: right;
    margin-right: 20px;
    display: flex;
    list-style: none;
  }
  nav ul li{
    position: relative;
    display: inline-block;
    line-height: 35px;
    margin-top: 25px;
  }
  ul li:hover > ul{
  display: inherit;
  }
  ul ul{
  display: none;
  position: absolute;
  top:100%;
  }
  nav ul li a {
  display: block;
  color: white;
  font-size: 15px;
  padding: 7px 23px;
  border-radius: 3px;
  text-transform: uppercase;
  margin-left:9px;
  
  }
  ul ul li {
  width: 150px;
  display: list-item;
  position: relative;
  }
  ul ul li a{
  font-size: 12px;
  margin-top: -20px;
  text-align: center;
  }
  ul ul ul{
  position: absolute;
  left:100%;
  
  }
  li a .active, li a:hover{
    border-bottom: 1px solid #f12020;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  color:black;
  margin-top: 15px;
  
  }
  #check{
    display: none;
  }
  nav ul li a.active{
    background-color: #3498db;
  }
  
  .login{
    width: 50px;
    height: 50px;
    margin: 10px;
    }
    .divnav{
      padding-left: 40px;
      height: auto;
      width: auto;
      margin-top: 140px;
      margin-left: 50px;
    }
    .divnav1{
      font-weight: bolder;
      color: white;
      font-size: 30px;
      height: 80px;
      width: 450px;
    }
    .divnav2{
      color: white;
      width: 510px;
      font-size: 15px;
      text-align: justify;
    }
    .buttonnav{
      margin-top: 30px;
      margin-left: 250px;
      height: 40px;
      width: 150px;
      background-color: rgb(199, 216, 233);
      border-radius: 2%;
    }
  
  
  
  
  /*productos-card*/
  .container-productos{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  .container-productos .card{
    width: 260px;
    height: 390px;
    background: #4E5D6C;
    color:#f2f2f2;
    border-radius: 8px;
    border:1px solid  #DF691A;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    align-items: center;
    transition: all 0.25s;
  }
  .container-productos .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
  }
  .container-productos .card img{
    width: 260px;
    height: 190px;
    cursor: pointer;
  }
  

  /*-------------media para tablet-----*/
  @media screen and (max-width:800px) {
    *{
          margin: 0;
          padding: 0;
      }
      .enlace{
          padding-left: 20px;
          color: greenyellow;
      }
      .checkbtn{
          display: block;
      }
      header{
        position: fixed;
      }
      ul{
        flex-direction: column;
          position:absolute;
          width: 100%;
          height: 100vh;
          top: 90px;
          left: -100%;
          text-align: center;
          transition: all .5s;
          background-color: #3498db;
      }
      nav ul li{
          display: block;
          margin-top: 50px;
          line-height: 30px;
          position: relative;
      }
      nav ul li a{
        color: antiquewhite;
          font-size: 20px;
          background-color: #3498db;
          margin-top: -20px;
            
      }
      li a:hover, li a .active{
          background: none;
          color: rgb(255, 255, 255);
      }
      #check:checked ~ ul{
          left:0;
      }
      ul li {
        text-align: center;
        margin-left: 250px;
        width: 300px;
        margin-top: -140px;
      }
      ul ul {
        position: static;
        display: none;
        flex-direction: column;
        text-align: center;
        height: auto;
      }
      ul li ul li a {
        font-size: 15px;
        margin-top: -40px;
        margin-left: -20px;
      }
    
      ul li:hover > ul{
        display: inherit;
      }
      .login{
        text-align: center;
        margin-left: 50%;
        position: absolute;
        margin-top: -28px;
        margin-left: 320px;
        display: block;
        width: 40px;
        height: 40px;
    
      }
    }
  
  /** parte meida query Header movil**/
  
  @media screen and (max-width:450px) {
  *{
        margin: 0;
        padding: 0;
    }
    .enlace{
        padding-left: 20px;
        color: greenyellow;
    }
    .checkbtn{
        display: block;
    }
    header{
      position: fixed;
    }
    .login{
      text-align: center;
      margin-left: 50%;
      position: absolute;
      margin-top: -28px;
      margin-left: 160px;
      display: block;
      width: 40px;
      height: 40px;
    }
    ul{
      flex-direction: column;
        position:absolute;
        width: 100%;
        height: 100vh;
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        background-color: #3498db;
    }
    nav ul li{
        display: block;
        margin-top: 50px;
        line-height: 30px;
        position: relative;
    }
    nav ul li a{
      color: antiquewhite;
        font-size: 20px;
        background-color: #3498db;
        margin-top: -20px;
          
    }
    li a:hover, li a .active{
        background: none;
        color: rgb(255, 255, 255);
    }
    #check:checked ~ ul{
        left:0;
    }
    ul li {
      text-align: center;
      margin-left: 100px;
      width: 300px;
      margin-top: -140px;
    }
    ul ul {
      position: static;
      display: none;
      flex-direction: column;
      text-align: center;
      height: auto;
    }
    ul li ul li a {
      font-size: 15px;
      margin-top: -40px;
      margin-left: 60px;
    }
  
    ul li:hover > ul{
      display: inherit;
    }
  }


/*------------------* Parte de footer **/

footer{
  bottom: 0px;
  width: 100%;
  background-color: #003960;
  color: white;
  margin-top: 40px;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background-color: rgb(0, 191, 255);
  top: -10px;
}
.left .content p{
  text-align: justify;
  color:rgb(228, 220, 207);
  
}
.left .content .social{
  margin: 20px 0 0 0;
  text-align: center;

}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background:orange;
}
.center .content .fas{
  font-size: 1.4375rem;
  background-color: rgb(0, 118, 236);
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.place{
  display: flex;
}

.email1{
  display: flex;
}
 .aw{
  flex: 1;

}
.aw1{
  flex: 6;

  padding: 10px;
}

.center .content .fas:hover{
  background:orange;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
  display: flex;
}
.center .content .dades{
  margin: 15px 0;
  margin-left: 10px;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #000;
}
.center .content .dades a {
color: #f12020;
}

.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: white;
  
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
  color: rgb(209, 202, 202);

}
.right form input:focus,
.right form textarea:focus{
  outline-color: orange;
}
.right form input{
  height: 35px;
  color: rgb(209, 202, 202);
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background:orange;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background-color: rgb(0, 118, 236);
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content .left .content p{
    font-size: 13px;
  }
  .main-content .box{
      margin: 5px 0;
  }
  .content .place .text{
    font-size: 13px;
  }
  .content .phone .text{
    font-size: 13px;
  }
  .content .email .text{
    font-size: 13px;
  }
} 
@media screen and (max-width: 450px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
      margin: 5px 0;
  }
  .center .content .dades{
    margin-top: 20px;
  }
  .place{
    flex-direction: column;
    text-align: center;
  }
  .phone{
    flex-direction: column;
    text-align: center;
  }
  .email1{
    flex-direction: column;
    text-align: center;
  }
}






















































/*menu-carrito*/
.dropdown-menu{
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    height: 400px;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    overflow-y: scroll;
}
#vaciar-carrito, #procesar-pedido {
    padding: 8px;
    margin-top:2px;
    text-align: center;
}
.dropdown-menu.show {
    display: block;
}
.button-vaciar{
    background:#17A2B8;
    text-decoration: none;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    color:  #f2f2f2;
    font-weight: 700;
}
.button-vaciar:hover{
    cursor: pointer;
    text-decoration: none;
    background-color: #0c505a;
    color: #f2f2f2;
}
.button-pedido{
    background:#28A745;
    text-decoration: none;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    color:  #f2f2f2;
    font-weight: 700;
}
.button-pedido:hover{
    cursor: pointer;
    text-decoration: none;
    background-color: #1e612e;
    color: #f2f2f2;
}


main{
    padding-top: 6rem;
}

/*slider*/
.slider{
    padding-top: 4rem;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display:flex;
    padding: 0;
    width: 300%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function:linear;
}
.slider li{
    list-style: none;
    width: 100%;
}
.slider img{
    width: 100%;
}

@keyframes cambio{
    0%{margin-left: 0;}
    30%{margin-left:0;}

    35%{margin-left: -100%;}
    65%{margin-left: -100%;}

    70%{margin-left: -200%;}
    100%{margin-left: -200%;}
}


/*circulo imagenes*/
.container-circulos{
    /* display:flex; */
    width: 100%;
    padding: 20px;
}
.container-imagen{
    width: 33%;
    display:inline-block; 
    align-items: center;
    flex-direction: column;
    text-align:center;
    padding: 20px;
}
.container-imagen h2{
    font-weight: 600;
}
.circulo{    
    width: 60%;
    border-radius: 50%;
    border:2px solid  #DF691A;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.ver-todo{
    margin: 50px 0;
    width: 100%;
    text-align: center;
}
.contenedor-columna{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}


/*contacto*/
.container-contacto{
    background-image: url("../img/bg-contacto.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin:0;
    padding: 6rem 0;
}
.container-contacto form{
   
    width: 450px;
    margin:auto;
    background:rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}  
.container-contacto form h2{
    color: #f2f2f2;
    text-align: center;
    margin:0;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}
.container-contacto form input,textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border:none;
}
.container-contacto form textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}


/*productos-modal*/
.modal{
    width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.modal-img{
    width: 50%;
}
.modal-boton{
    position: absolute;
    top: 10px;
    right:10px;
    color:white;
    cursor: pointer;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background:#DF691A;
    font-size: 2em;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
}
.modal-open{
    display: block;
}


/*productos-card*/
.container-productos{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.container-productos .card{
    width: 260px;
    height: 390px;
    background: #4E5D6C;
    color:#f2f2f2;
    border-radius: 8px;
    border:1px solid  #DF691A;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    align-items: center;
    transition: all 0.25s;
}
.container-productos .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}
.container-productos .card img{
    width: 260px;
    height: 190px;
    cursor: pointer;
}
.container-productos .card h5{
    font-weight: 600;
    padding: 5px;
}
.container-productos .card p{
    padding-top: 5px;
}
.container-productos .card a{
    padding:10px;
    display: block;
    width: 50%;
    margin: 0 auto;
}


/*contenido*/
.container{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5% auto;
}


/*columnas*/
.columna1{
    width: 50%;
    /* float: left;
    padding-left: 25px; */
    text-align: center;
}
.columna2{
    /* width: 40%;
    float: right; */
}
.columna2 img{
    width: 450px;
}

/*carrito*/
#cargando{
    display: none;
}
.container-carrito h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}
.container-carrito form{
    width: 650px;
    margin:auto;
    padding: 10px 20px;
}
.container-carrito form .contenido{
    
    padding: 10px 20px;
}
.container-carrito form .titulo{
    font-size: 20px;
    font-weight: 200;    
}
.container-carrito form .titulo input{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 8px;
    border:1px solid  #DF691A;
}
#total{
    border: 0; 
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
#procesar-compra{
    border: 0;
    height: 49px;
    font-size: 16px;
    outline: none;
    margin: 50px;
}
#volver{
    margin: 48px;
}
.botones-envio{
    display: flex;
    align-items: center;
    justify-content: center;
}


.tabla {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}
.tabla td, .tabla th {
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    text-align: center;

}
.tabla thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}


/*footer*/
.footer-menu ul {
    margin: 0px;
    padding: 0px;
}
.container-footer {
    max-width: 1140px;
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
  text-decoration: none;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
  text-decoration: none;
}
.row-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.text-lg-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.d-lg-block {
    display: block !important;
}

.col-xl-6{
	    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

*, ::after, ::before {
    box-sizing: border-box;
}
.container-footer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


@media (max-width: 800px) {

    /*menu*/
    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    .navigation{
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
    }
    .navigation ul li{
        display: block;
    }
    .navigation ul li a{
        display: block;
        padding: 0.5rem 0;
    }
    .navigation ul li a:hover{
        color: #f2f2f2;
    }

    header{
        height: auto;
    }

    /*menu-carrito*/
    .dropdown-menu{
        left: 0;
        height: 250px;
    }


    /*slider*/
    .slider{
        padding-top: 5rem;
    }


    /*circulo imagenes*/
    .container-imagen{
        width: 70%;
        display: block;
        margin: 0 auto;
    }


    /*contacto*/
    .container-contacto form{
        width: 100%;
    }


    /*columnas*/
    .columna1{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .columna2{
        width: 100%;
        float: none;
        text-align: center;   
    }
    .columna2 img{
        width: 300px;
    }

    /*carrito*/
    .container-carrito form{
        width:100%;
    }
    .tabla td, .tabla th {
        padding: .1rem;
    }    

}
